extends layout

block content
	h1 welcome to the standings page
	.container
		.row
			.col-sm-6
				-for(let i=0; i<standingsResults.length; i++)
					.col-sm-12
						h3 #{standingsResults[i].title}
						.col-sm-6
							img(src=`/images/${standingsResults[i].imageUrl}`, alt="")
						.col-sm-3.downvotes
							img(src="/images/thumbsUp.png", alt="")
							p #{standingsResults[i].upVotes}
						.col-sm-3.upvotes
							img(src="/images/thumbsDown.png", alt="")
							p #{standingsResults[i].downVotes}